<div class="row">
  <div class="col-lg-9">
    <form (ngSubmit)="onSubmit()" [formGroup]="infoForm">
      <div class="container second-title">
        <div class="row">
          <div class="col-md-4">
            <h5>Personal Information</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" formControlName="name">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Contact" formControlName="contact">
          </div>
        </div>
      </div>
      <div class="container second-title">
        <div class="row">
          <div class="col-md-4">
            <h5>Programming Skills</h5>
          </div>
          <div class="col-md-3 ml-auto">
            <button type="button" class="btn btn-secondary" (click)="addSkill()">Add New</button>
          </div>
        </div>
      </div>
      <ng-container formArrayName="skills">
        <!-- Dynamic Form Start-->
        <div class="row" *ngFor="let item of infoForm.get('skills')['controls']; let i = index;" [formGroupName]="i">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Skill Name" formControlName="name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="number" class="form-control" max="10" min="1" maxlength="1" placeholder="Rating" formControlName="rating">
            </div>
          </div>
        </div>
      </ng-container>
      <!-- Dynamic Form End-->
      <button type="submit" class="btn btn-lg btn-primary" [disabled]="!infoForm.valid">Submit Form</button>
    </form>
  </div>
  <div class="col-lg-3 border" *ngIf="output">
    <h5 class="output-title">Output</h5>
    <!-- <p *ngIf="output">{{output | json}}</p> -->
    <textarea highlight-js [lang]="'js'" [ngModel]="output | json" [disabled]="true"></textarea>
  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/atom-one-dark.min.css">
